mixin review(review)
  .text-center.flex.flex-col.gap-3
    a(href= `/members/${review.member.slug}`)
      img.inline-block.w-36.rounded-full(src=`/img/members/${review.member.photo}` alt='')
    a(href= `/members/${review.member.slug}`)
      p= review.member.name
      p= review.member.job
    q= review.review
    div
      each star in [1,2,3,4,5]
        svg.w-6.h-6.inline-block(class=`${review.rating >= star ? 'fill-colorPrimary' : 'fill-gray-300'}`)
          use(xlink:href='/img/sprite.svg#icon-star-empty')