extends base 

block content 
  main 
    section.max-w-screen-xl.mx-auto.mb-28
      .mx-24.flex.justify-between
        .flex-col.flex.justify-between
          h1.text-2xl.text-colorPrimary.font-semibold #{book.title}, #{book.author}
          q.text-3xl.mt-8.w-w #{book.quote} 
          if member
            if (member.role === 'admin' || member.role === 'manager') 
              .flex.gap-2
                a.w-36.px-3.bg-colorPrimary.rounded.mb-8.font-semibold.text-center(class='py-1.5' href='#') Read Now
                a.w-36.px-3.bg-colorPrimary.rounded.mb-8.font-semibold.text-center(class='py-1.5' href='#') Update Book 
                a.w-36.px-3.bg-colorPrimary.rounded.mb-8.font-semibold.text-center(class='py-1.5' href='#') Delete Book 
          else 
            a.w-36.px-3.bg-colorPrimary.rounded.mb-8.font-semibold.text-center(class='py-1.5' href='#') Read Now
        .w-w.h-h.ml-ml
          img(src=`/img/books/${book.image}` alt=`${book.title}`)

    section.max-w-screen-xl.mx-auto.mb-28
      h3.text-center.text-4xl.uppercase.text-colorSecondary.mb-28
        | About this book
      .mx-24.flex.gap-64.text-xl
        .w-w
          p #{book.description}
        ul.flex.flex-col.gap-2
          li
            strong Author:&nbsp; 
            | #{book.author}
          li
            strong Page Count:&nbsp; 
            | #{book.pageCount}
          li
            strong Originally published:&nbsp; 
            | #{book.originallyPublished}
          li
            strong Estimated Reading Time:&nbsp; 
            | #{book.readingTime}
          li
            strong Club:&nbsp; 
            a(href=`/clubs/${book.club.slug}`) #{book.club.name} 

    section.max-w-screen-xl.mx-auto.mb-28
      h3.text-center.text-4xl.uppercase.text-colorSecondary.mb-14
        | Main ideas of this book
      ul.px-28.flex.flex-col.gap-6.text-xl
        each idea in book.ideas
          li
            svg.w-6.h-6.inline-block.fill-colorPrimary.mr-2
              use(xlink:href='/img/sprite.svg#icon-check')
            span #{idea}