extends base 

block content 
  main 
    section.max-w-screen-xl.mx-auto.mb-28
      .mx-40.flex.justify-between
        .flex-col.flex.gap-6
          div
            h1.text-2xl.text-colorPrimary.font-semibold.mb-2 #{member.name}
            .text-xl
              p= member.job
              p #{member.role === 'manager' ? `${member.clubs[0].name} manager` : ''}
          p.text-2xl.w-w #{member.bio}
          .flex.gap-4
            a(href=`https://www.${member.social[0]}`)
              svg.w-6.h-6.inline-block.fill-colorSecondary.mr-2
                use(xlink:href='/img/sprite.svg#icon-facebook2')
            a(href=`https://www.${member.social[2]}`)
              svg.w-6.h-6.inline-block.fill-colorSecondary.mr-2
                use(xlink:href='/img/sprite.svg#icon-instagram')
            a(href=`https://www.${member.social[1]}`)
              svg.w-6.h-6.inline-block.fill-colorSecondary.mr-2
                use(xlink:href='/img/sprite.svg#icon-twitter') 
          if isMyProfile 
            a.px-3.w-44.bg-colorPrimary.text-center.font-semibold.rounded(class='py-1.5' href='/updateMyProfile') Update profile
        .w-w2.h-h2
          img(src=`/img/members/${member.photo}` alt=`${member.name}`) 
      

    section.max-w-screen-xl.mx-auto.mb-28
      h3.text-center.text-4xl.uppercase.text-colorSecondary.mb-14
        | Clubs
      .flex.gap-40.justify-center.mb-14
        each club in member.clubs
          .w-72.h-96.border-colorPrimary.border-2.rounded.text-center.relative
            img(src=`/img/clubs/${club.image}` alt=`${club.name}`)
            a.px-3.w-56.bg-colorSecondary.text-white.rounded.absolute.top-80(class='py-1.5 right-1/2 translate-x-1/2' href=`/clubs/${club.slug}`) #{club.name}
        
